#contenido {
    border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  overflow:scroll;
  height:500px;
  width:600px;
  }
  .speech-bubble {
	position: left;
	background: #ffffff;
    border-radius: .4em;
    height:50px;
    width:250px;
}

.speech-bubbleneg {
	position: left;
    border-radius: .4em;
    height:130px;
    width:250px;
}

video
{
  border-radius: .4em;
  height:130px;
  width:250px;
}

.speech-bubble2 {
    margin-left: 300px;
	position: right;
	background: #00aabb;
    border-radius: .4em;
    height:50px;
    width:250px;
}

.speech-bubbleneg2 {
  margin-left: 300px;
position: right;
  border-radius: .4em;
  height:130px;
  width:250px;
}

h1 {
  font-size: large;
    color: #000;
    text-shadow: #555 2px 2px 3px;
  }

  h2 {
    color:#207893;
    font-size: x-small;
  }

h3 {
    color: #555;
    font-size: xx-small;
  }